{% extends "home/base.html" %}
{% block content %}
<div class="col-md-8 mx-auto">
<h3 class="text-center "> Select a Board </h3>
    <div class="main-list">
        <div class="container list-group">
           {% for board in boards%}
            <a href="{% url 'classes' board.board_name%}" class="list-group-item text-light  mb-3">
                <div class="col-sm" > 
                    <h4>{{board.board_name | upper }} 

                    </h4></div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{%endblock %}