{% extends "home/base.html" %}
{% load static %}
{% block content %}
<div class="box text-white text-center col-md-6  mx-auto mb-3">
<h5 class="text-center m-3">Total Papers Available : <span class="count">{{ total}}</span></h5>
</div>

<div class="row mx-auto">
  <a href="{% url 'boards' %}" class="text-dark">
    <div class="col-md-4 mx-auto mb-3">
<div class="card shadow-lg rounded" style="width: 18rem;">
  <img class="card-img-top" src="{% static 'images/board.jpg'%}" alt="Boards" height="200px">
  <div class="card-body">
    <h5 class="card-title">Board Section</h5>
    <p class="card-text">Visit this section, if you are a school student</p>
    <a href="{% url 'boards' %}" class="btn text-light">Visit This Section</a>
  </div>
</div>
</div>
</a>
<a href="{% url 'colleges' %}" class="text-dark">
 <div class="col-md-4 mx-auto">
<div class="card shadow-lg rounded" style="width: 18rem;">
  <img class="card-img-top" src="{% static 'images/college.jpg'%}" alt="Colleges" height="200px">
  <div class="card-body">
    <h5 class="card-title">College Section</h5>
    <p class="card-text">Visit this section, if you are a college student.
    </p>
    <a href="{% url 'colleges' %}" class="btn text-light"> Visit This Section </a>
  </div>
</div>
</div>
</a>
</div>


{%endblock %}