button.btn,list-group-item{
  background-color:#008080;
  text-decoration-color: white;
}
div.list-group a{
  background-color:#008080;
  text-decoration-color: white;
}
a:hover{
  text-decoration: none;
}
a.btn{
  background-color:#008080;
}
div.box{
  border: 1px solid white;
  background-color:#008080;
}
.bg-custom{
  background-color:#008080;
}
button{
  color: white;
  text-decoration-color: white;
}
body{
  background-color: white;
  object-fit: fill;
}
@media (prefers-color-scheme: dark) {
  body {
      background-color: white;
  }
}

.filter {
  position: relative;
  -webkit-filter: contrast(120%) saturate(125%);
  filter: contrast(120%) saturate(125%);
}
.filter::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  mix-blend-mode: overlay;
  background: rgba(127, 187, 227, 0.2);
}