
button.btn,list-group-item{
  background-color:#008080;
  text-decoration-color: white;
}
div.list-group a{
  background-color:#008080;
  text-decoration-color: white;
}
a:hover{
  text-decoration: none;
}
a.btn{
  background-color:#008080;
}
div.box{
  border: 1px solid white;
  background-color:#008080;
}
.bg-custom{
  background-color:#008080;
}
button{
  color: white;
  text-decoration-color: white;
}
body{
  object-fit: fill;
}
@media (prefers-color-scheme: dark) {
  body {
      background-color: white;
  }
}